

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.show
{
    display: block;
}
.input-error
{
    background-color: #F08080;
}
.input-valid
{
    background-color: #90EE90;
}
.negative-variance
{
    color: red;
    font-weight: bold;
}
.positive-variance
{
    color: black;
    font-weight: bold;
}
.store-select
{
    margin-left: 45px;
}
.large-font
{
    font-size: 18px;
}
input[type="text"]
{
    font-size: 18px;
}
input[type="text"][id="date"]
{
    margin-left: 160px;
    font-size: 18px;
}
#employee_name
{
    margin-left: 15px;
}
.header
{
    text-align: center;
    font-size: 16px;
}
.table_column
{
    margin-right: 10px;
}












